.BUY{
    top: 23px;
    left: 24px;
    width: 160px;
    height: 160px;
    position: absolute;
    border-color: transparent;
}

.SELL{
    top: 23px;
    left: 20px;
    width: 160px;
    height: 160px;
    position: absolute;
    border-color: transparent;
}

.PLAY{
    top: 17px;
    left: 22px;
    width: 160px;
    height: 160px;
    position: absolute;
    border-color: transparent;
}

.CONNECT{
    top: 13px;
    left: 18px;
    width: 160px;
    height: 160px;
    position: absolute;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 1px;
}