.Login{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(235, 235, 235, 1);
}
.SignUp{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(235, 235, 235, 1);
}